/***************************** GENERAL BODY *************************************/
body {
	padding-top: 2em;
	padding-bottom: 2em;
}

footer {
	text-align:center;
	margin:0 auto;
	color: #123a30;
}

p {
   color: #123a30;
   font-size:1.05em;
}

li {
   color: #123a30;
   font-size:1.05em;
}

/***************************** NAV BAR *************************************/
.bg-dark {
	background-color: #0e6f25 !important;
}

.navbar{
  font-size: 1.07em;
  max-height: 5em;
}

.navbar-brand a{
  font-size: 1.07em;
}

.dropdown-item{
	font-size:1.07em;
}

.dropdown-item.active, .dropdown-item:active{
	background-color:#50a33e;
}

/***************************** FAQ CARDS *************************************/
.top > a {
	text-decoration: none;
	float:right;
}

/***************************** FORM *************************************/
label {
	font-size: 1.07em;
	color: #123a30;
}

.btn-primary {
	background-color:#0e6f25;
}

/***************************** BUILD CONTRACT *************************************/
.btn-primary {
	background-color:#a4de9a;
}

/***************************** RESPONSIVE *************************************/
@media (min-width: 992px) {
	body {
		padding-top: 56px;
  }
}
